@import '../../../../settings/Settings';

.ImagesList {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex: 1;
  overflow: hidden;

  .ImagesListHeader {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px 0;
    padding: 10px 0;
    border-bottom: solid 1px $darkThemeFirstColor;
  }

  .ImagesListBody {
    position: relative;
    flex: 1;
    overflow: hidden;
  }

  .ImagesListEmpty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    text-align: center;
    color: $darkThemeSecondColor;
    font-weight: 700;
  }
}
